<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/show.css}" media="screen">
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center display-5 mt-5">List</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-12 col-lg-8 col-md-9 col-11 text-center mt-5">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">No.</th>
                        <th scope="col" class="text-center">Recipient</th>
                        <th scope="col" class="text-center">Gender</th>
                        <th scope="col" class="text-center">Street</th>
                        <th scope="col" class="text-center">Zipcode</th>
                        <th scope="col" class="text-center">District</th>
                        <th scope="col" class="text-center">City</th>
                        <th scope="col" class="text-center">Province</th>
                        <th scope="col" class="text-center">Country</th>
                        <th scope="col" class="text-center">Assurance</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Total Price</th>
                        <th scope="col" class="text-center">Delivery Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                        <th:block th:each = "price, iterator : ${prices}">
                            <tr>
                                <td class="text-center pt-5" th:text="${iterator.index+1}"></td>
                                <td class="text-center pt-5" th:text="${price.recipent}"></td>
                                <td class="text-center pt-5" th:text="${price.gender}"></td>
                                <td class="text-center pt-5" th:text="${price.street}"></td>
                                <td class="text-center pt-5" th:text="${price.zipCode}"></td>
                                <td class="text-center pt-5" th:text="${price.district}"></td>
                                <td class="text-center pt-5" th:text="${price.city}"></td>
                                <td class="text-center pt-5" th:text="${price.province}"></td>
                                <td class="text-center pt-5" th:text="${price.country.getName()}"></td>
                                <td class="text-center pt-5" th:text="${price.assurance}"></td>
                                <td class="pt-5" th:text="${price.description}"></td>
                                <td class="text-center pt-5" th:text="${price.totalPrice}"></td>
                                <td class="text-center pt-5" th:text="${price.deliveryCost}"></td>
                                <td scope="row">
                                    <a th:href="@{'/details/' + ${price.id}}"> <p class="btn btn-info col-9 mt-4">details</p></a>
                                    <a th:href="@{'/details/' + ${price.id}}"> <p class="btn btn-info col-9 mt-4">update</p></a>
                                    <a th:href="@{'/delete/' + ${price.id}}" class="btn btn-danger col-9 delBtn">delete</a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <div class="row justify-content-center text-center">
                    <a href="/" class="btn btn-secondary col-sm-1 btn-sm mb-4 ml-4">Back</a>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="allert allert-danger">Apakah anda yakin ingin menghapus product ini?  </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="" class="btn btn-danger" id="delRef">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/css/js/main.js}"></script>
</body>
</html>