<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/details.css}" media="screen">
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1 class="text-center display-5 mt-5">Detail Product</h1>
    <div class="col-md-12">
        <section class="panel mt-5">
            <div class="panel-body d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="pro-img-details">
                        <img th:src="@{'/css/img/'+ ${product.imageUrl}}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="pro-d-title">
                        <a href="#" class="" th:text="${product.name}">
                        </a>
                    </h4>
                    <p th:text="${product.description}">
                    </p>
                    <div class="product_meta">
                        <span> <strong>Article Number</strong> <p th:text="${product.articleNumber}"></p> </span>
                        <span> <strong>Brand</strong> <p th:text="${product.brandId.getName()}"></p> </span>
                        <span> <strong>Stock</strong> <p th:text="${product.stock}"></p> </span>
                    </div>
                    <div class="m-bot15"> <strong>Estimated Price : </strong> <span class="pro-price"> Rp. 650.000</span></div>
                    <p>
                        <a href="/show" type="button" class="btn btn-primary mt-3">Back</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/css/js/main.js}"></script>
</body>
</html>