<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/show.css}" media="screen">
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center display-5 mt-5">List Product</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-12 col-lg-8 col-md-9 col-11 text-center mt-5">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">No.</th>
                        <th scope="col" class="text-center">Image</th>
                        <th scope="col" class="text-center">Article Number</th>
                        <th scope="col" class="text-center">Brand</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Stock</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <th:block th:each = "product, iterator : ${productList}">
                            <tr>
                                <td class="text-center pt-5" th:text="${iterator.index+1}"></td>
                                <td class="text-center">
                                    <img th:src="@{'/css/img/'+ ${product.imageUrl}}" alt="t90">
                                </td>
                                <td class="text-center pt-5" th:text="${product.articleNumber}"></td>
                                <td class="text-center pt-5" th:text="${product.brandId.getName()}"></td>
                                <td class="text-center pt-5" th:text="${product.name}"></td>
                                <td class="pt-5" th:text="${product.description}"></td>
                                <td class="text-center pt-5" th:text="${product.stock}"></td>
                                <td scope="row">
                                    <a th:href="@{'/details/' + ${product.id}}"> <p class="btn btn-info col-9 mt-4">details</p></a>
                                    <a th:href="@{'/delete/' + ${product.id}}" class="btn btn-danger col-9 delBtn">delete</a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <div class="row justify-content-center text-center">
                    <a href="/" class="btn btn-secondary col-sm-1 btn-sm mb-4 ml-4">Back</a>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="allert allert-danger">Apakah anda yakin ingin menghapus product ini?  </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="" class="btn btn-danger" id="delRef">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/css/js/main.js}"></script>
</body>
</html>