<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/success.css}" media="screen">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center mt-5">
                <img th:src="@{/css/img/success.png}" alt="success">
                    <h1 class="display-4">Success</h1>
                    <h4 class="lead">Product berhasil ditambahkan.</h4>
                <div class="row justify-content-between text-center mt-5" id="success-menu">
                    <a href="/" type="button" class="btn btn-outline-secondary col-sm-5 flex-column d-flex"> Home </a>
                    <a href="/form" type="button" class="btn btn-outline-primary col-sm-5 flex-column d-flex"> Tambah Product </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>